TURSO_DATABASE_URL=file:../../data/dev.db
TURSO_AUTH_TOKEN=your_turso_auth_token

BETTER_AUTH_URL=http://localhost:5174
BETTER_AUTH_SECRET=your_better_auth_secret_key

CREATIVE_BASE_URL=http://localhost:5175/resources/creative/
